.font {
    color: #006699;
    line-height: 2;
    font-size: 18px;
}
.mid-grids h3 {
    color: #191a1f;
    margin-bottom: 5px;
    font-size: 22px;
    margin-top: 0;
}
 /* .fullprofile {
    min-height:500px !important;
    
    }
#imageName {
height:600px;
} */
td, th {
vertical-align:top;
}
        /* for tablet */
        @media screen and (max-width: 980px) {
            #mySlider {
                width: 100%;
                height: 450px;
            }
        }
         td:first-child{ width: 150px; }
         td:nth-child(2) {width:10px !important;}
        td:fourth-child{ width: 150px; } 
        /* for mobile */
        @media screen and (max-width: 640px) {
            #mySlider {
                width: 570px;
                height: 450px;
            }
        }
         @media screen and (max-width: 480px) {
            #mySlider {
                width: 400px;
                height: 380px;
            }
        }
         @media screen and (max-width: 414px) {
            #mySlider {
                width: 350px;
                height: 350px;
            }
        }
          @media screen and (max-width: 360px) {
            #mySlider {
                width: 300px;
                height: 350px;
            }
            /* .box_1 p {
    margin: 45px 47px 37px 0px !important;
} */
        }
          @media screen and (max-width: 320px) {
            #mySlider {
                width: 280px;
                height: 250px;
            }
              td:first-child{ width: 124px !important; }
        td:fourth-child{ width: 124px !important; } 
        }
@media only screen and (max-width: 640px) and (min-width: 320px) {
        
        }
    </style>
            	<style>
.img-replace {
  
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  color: transparent;
  white-space: nowrap;
}
.likeprofile {
margin-top:5px;
padding:15px;
background:#ffb7458a;
}
.likeprofile p {
color:#000;
margin-bottom:5px;
}
.font {
color: #006699;

line-height: 2;
font-size:18px;}
.newc {
	padding-left:15px ;
}
@media print {

  @page {                
    size: A4;
    margin: 0px;
  }

  html, body {
    width: 100%;
    padding-left:15px;
  }}
  @media print {

.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
  float: left;
}
.col-sm-12 {
  width: 100%;
}
.col-sm-11 {
  width: 91.66666666666666%;
}
.col-sm-10 {
  width: 83.33333333333334%;
}
.col-sm-9 {
  width: 75%;
}
.col-sm-8 {
  width: 66.66666666666666%;
}
.col-sm-7 {
  width: 55.333333333333336%;
  padding-left:1.5%;
}
.col-sm-6 {
  width: 50%;
}
.col-sm-5 {
  width: 41.66666666666667%;
}
.col-sm-4 {
  width: 33.33333333333333%;
 }
 .col-sm-3 {
   width: 25%;
 }
 .col-sm-2 {
   width: 16.666666666666664%;
 }
 .col-sm-1 {
  width: 8.333333333333332%;
 }

  }