/**
* jQuery asPaginator v0.3.3
* https://github.com/amazingSurge/jquery-asPaginator
*/
.asPaginator {
  overflow: hidden;
}
.asPaginator li {
  float: left;
/*   margin: 0 5px; */
  list-style: none;
}
.asPaginator li a {
  display: inline-block;
  padding: 5px 9px;
  text-decoration: none;
  text-transform: capitalize; 
  cursor: default;
}

.asPaginator li {
  margin: 1px;
  margin-right: 3px;
  margin-left: 0px;
  background-color: #fff;
}
.asPaginator li a {
  padding: 6px 10px;
  color: #666;
  cursor: pointer;
}
.asPaginator li:hover a {
  background-color: #ddd;
  color: #ff755a;
  cursor: pointer;
}
.asPaginator li:first-child {
/*   border-left: 1px solid #c9c9c9; */
}

.asPaginator .asPaginator_active {
  background-color: #eee;
}
.asPaginator .asPaginator_active a {
  padding: 6px 10px;
  color: black;
}
.asPaginator .asPaginator_active:hover a {
  color: black;
}

.asPaginator .asPaginator_disable a {
	color: black;
}

.asPaginator .asPaginator_disable:hover a {
	color: black;
}

.asPaginator .asPaginator_omit:hover a {
  color: black;
}
